@media (max-width: 575.98px) {
  h1 {
    font-size: 70px !important;
    color: #007cb9;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 20px !important;
    opacity: 0.7;
  }
  body {
    padding: 30px;
  }
  .main-page {
    display: none;
  }
}

:root {
  --primary-color: #007cb9;
  --secondary-color: #d5eeff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

.main-pic {
  border-radius: 100%;
  margin: 20px;
}

.about-pic {
  border-radius: 20px;
  max-height: 400px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 50px;
  padding: 10px;
}

h2 {
  font-size: 23px;

  opacity: 0.7;
}

h3 {
  font-size: 23px;
  opacity: 0.7;
  padding-bottom: 10px;
}

.about-me {
  padding: 30px 0;
}

.about-me-containers {
  gap: 2rem;
}

.about-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.back-home {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}

.main-text {
  display: flex;
  margin: 30px 0;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.main-text p {
  margin: 10px;
}

#email {
  text-align: center;
  display: block;
  font-size: 28px;
  text-decoration: none;
  color: var(--primary-color);
  margin: 5px;
}

#email:hover {
  text-decoration: underline;
}
