@media (max-width: 575.98px) {
  h1 {
    font-size: 70px !important;

    padding-bottom: 10px;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 20px !important;
    opacity: 0.7;
  }
  body {
    padding: 30px;
  }
  .main-page {
    display: none;
  }
  .small-pic{
    display: flex !important;
    justify-content: center;
  }

  .tech-info{
    display: flex !important;
    justify-content: center;
  }

  
}

:root {
  --primary-color: #007cb9;
  --secondary-color: #d5eeff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-text-family: "Playball", cursive;
}

body {
  margin: 60px auto;
  max-width: 800px;
}

.main-pic {
  border-radius: 100%;
  margin: 20px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

.headings {
  font-family: "Raleway", sans-serif;
  
}

h1 {
  font-size: 50px;
  padding: 10px;
  font-family: var(--main-text-family);
}

#logo {
  font-family: var(--main-text-family);
}

h2 {
  font-size: 23px;
  font-family: "Raleway", sans-serif;
  opacity: 0.7;
}

h3 {
  font-size: 23px;
  opacity: 0.7;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 19px;
  opacity: 0.7;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.work-link a {
  font-family: "Raleway", sans-serif;
}

.about-me {
  padding: 30px 0;
}

.tech-info img {
  max-width: 105px;
}

.about-link {
  display: block;
  margin: 0 auto;
}

.about-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.main-text {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 30px 0;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.weather-work p,
.read-to-kid-work p,
.scetch-work p {
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
}

.main-text p {
  margin: 10px;
  font-family: "Raleway", sans-serif;
}

.work-pic {
  
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.work-link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.work-link a {
  text-decoration: none;
  color: black;
}

.work-link a:hover {
  color: var(--primary-color);
}

.contact {
  display: flex;
  justify-content: center;
}

.contact a {
  margin: 30px;
  padding: 15px 18px;
  border-radius: 100%;
  color: var(--primary-color);
}

.footer-source i {
  color: var(--primary-color);
}

.footer-source {
  font-size: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.contact a:hover {
  background-color: var(--primary-color);
  color: white;
}

.contact-info {
  padding: 0px;
}
